.DS_Store
.env
.galaxy_install_info
.Python
.vagrant
.vault_pass.txt
.vscode
*.retry
bin
bootstrap.retry
docs/_build/
include
lib
pip-selfcheck.json
playbook-otg-plone.retry
pyvenv.cfg
reports/
roles/
share
etc/env_files
etc/keys/tangrama_ed25519
