[defaults]
inventory = ./inventory/do_hosts.yml
forks = 50
# additional paths to search for roles in, colon separated
roles_path = roles
retry_files_enabled = False
# callback_whitelist = profile_tasks  # Uncomment to show times between tasks
allow_world_readable_tmpfiles = true
interpreter_python = auto
library = library
pipelining = true
timeout = 40
filter_plugins = ./plugins/filter

[ssh_connection]
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -F ./.ssh/ansible-ssh-config -o ControlMaster=auto -o ControlPersist=120s

[persistent_connection]
# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.
# If the connection doesn't receive a request before the timeout value
# expires, the connection is shutdown. The default value is 30 seconds.
connect_timeout = 30

# Configures the persistent connection retry timeout.  This value configures the
# the retry timeout that ansible-connection will wait to connect
# to the local domain socket. This value must be larger than the
# ssh timeout (timeout) and less than persistent connection idle timeout (connect_timeout).
# The default value is 15 seconds.
connect_retry_timeout = 15

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 10 second.
command_timeout = 10
